@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-p{
    color: #403F3F;
}

ul li a{
    background: transparent !important;
    color: #706F6F !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

ul li a:focus{
    background: transparent !important;
    text-decoration: underline !important;
    color: #403F3F !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

#category li a:focus{
    text-decoration: underline !important;
    color: #403F3F !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}